
<div class="d-flex justify-content-end" >
 
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" title="filter">
    <svg viewBox="0 0 512 512" height="1em" aria-hidden="true">
      <path
        d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
      ></path>
    </svg>
    &nbsp;Appply Filter
  </button>
  
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-center" id="offcanvasScrollingLabel">Apply Filters Below</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="close-btn"></button>
  </div>
  <div class="offcanvas-body">
    <div class="categories">
      <h5  >Categories</h5>
      <app-catogory-btns (updateProducts)="updateProducts($event)"></app-catogory-btns>
    </div>

    <div class="price my-2">
      <h5  >Select Price</h5>
      <div class="row">
        <div class="col-5">5 $</div>
        <div class="col-4">575 $</div>
        <div class="col-3">1100 $</div>
      </div>
      <div class="row">
        <div class="col-11">
          <input type="range" class="form-range" min="5" max="1100" step="10" id="customRange3" (change)="rangeChange($event)">
          <p class="fw-bold text-center">Price range from 5$ - {{priceVal}}$</p>
        </div>
      </div>
    </div>
    <div class="ratings">
      <h5  >Ratings</h5>
      <select class="form-select form-select-sm" aria-label="Small select example">
        <option selected>Open this select Ratings</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
</div>