

    <!-- Example Code -->

    <div class="container p-5">
      <div class=" d-flex my-6  ">
        <div class="row" *ngIf="newdata">
          <div class="col-12 col-md-4 justify-content-center">
            <div class="text-center h-50">
              <img
                [src]="newdata.image"
                class="rounded img-thumbnail h-200 w-200" id="Prodimage"
                alt="..."
              />
            </div>
          </div>
          <div class="col-12 col-md-8">
            <h2>
              {{newdata.title}} 
            </h2>
            <span class="badge text-bg-danger my-2">{{newdata.category}}</span>
            <p class="fs-3 fw-bold">{{newdata.price}} $</p>
            <p class="fw-1">
            {{newdata.description}}
            </p>
            <div class="row">
              <div class="col-6"><button type="button" class="btn btn-primary btn-sm  w-100">Add to cart</button></div>
              <div class="col-6"><button type="button" class="btn btn-primary btn-sm  w-100">Buy this</button></div>
            </div>
          </div> 
        </div>
    </div>

    <app-new-products> </app-new-products>
    </div>
  
    

     



      